MANIFEST
META.*
MYMETA.*
_build/
.build/
build/
blib/
inc/
pm_to_blib
.*.sw?
.nfs*
*#
.#*
*~
*.bak
*.old
cpanfile.snapshot
local/
.perl-version
HealthCheck-Diagnostic-RemoteHealth-*/
HealthCheck-Diagnostic-RemoteHealth-*.tar.*
